<!--  -->


<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">{{ title}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav class="sideNav" [(opened)]="opened" [style.display]="opened === true ? 'block' : 'none'">
      <mat-nav-list>
        <a mat-list-item routerLink="/table">Table</a>
        <a mat-list-item routerLink="/spinner">Spinner</a>
        <a mat-list-item routerLink="/side-bar">Side Bar</a>
        <a mat-list-item routerLink="/form">Form</a>
      </mat-nav-list>
     
    </mat-sidenav>

    <mat-sidenav-content class="mainContent" >
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>



<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->